.background-img {
	background-image: url("../bg-header-desktop.svg");
	width: 100%;
	height: 10vh;
	background-color: var(--Primary);
}

@media (max-width: 600) {
	.background-img {
		background-image: url("../bg-header-mobile.svg");
	}
	.background-img {
		height: 20vh;
	}
}
