.job-card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80vw;
	margin: 2rem auto;
	background-color: white;
	padding: 2rem;
	border-radius: 0.4rem;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.border-left {
	border-left: 0.4rem solid var(--DarkCyan);
}

@media (max-width: 600px) {
	.job-card {
		display: flex;
		flex-direction: column;
		position: relative;
		width: 90vw;
		padding: 1rem;
		margin: 3rem auto;
	}
}
