.job-description-container {
	display: flex;
}

.mobile {
	display: none;
}

.name-and-labels {
	display: flex;
	justify-content: flex-start;
}

.job-info {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.company-role-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 2rem;
}

.job-description-info {
	display: flex;
	flex-direction: column;
}
.company-logo {
	height: 6rem;
}

.job-position {
	font-size: 1.3rem;
	cursor: pointer;
	/* margin: 0.4rem 0; */
}

.job-position:hover {
	color: var(--Primary);
}

.middle-dot {
	color: var(--Primary);
	font-size: 1rem;
	padding: 0 1rem;
}

.company-name {
	color: var(--Primary);
	font-size: 1rem;
	margin-right: 1rem;
}

p {
	color: var(--Primary);
}

.label-new {
	background-color: var(--Primary);
	color: var(--FilterTabs);
	font-size: 0.7rem;
	margin-right: 1rem;
	padding: 0.2rem 0.4rem;
	border-radius: 1rem;
	font-weight: 700;
}

.label-featured {
	background-color: var(--VeryDarkCyan);
	color: var(--FilterTabs);
	font-size: 0.7rem;
	padding: 0.2rem 0.4rem;
	border-radius: 1rem;
	font-weight: 700;
}

@media (max-width: 600px) {
	.company-logo {
		height: 3.5rem;
		position: absolute;
		top: -13%;
		left: 1rem;
	}

	.company-role-info {
		margin-left: 0;
		margin-top: 1.2rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.company-name {
		margin: 0;
		font-size: 0.8rem;
		margin-right: 0.5rem;
	}

	.label-new.label-featured {
		font-size: 0.8rem;
	}

	.job-position {
		font-size: 1rem;
		margin: 0.5rem 0;
	}

	p {
		font-size: 0.8rem;
	}

	.middle-dot {
		font-size: 1rem;
		padding: 0 0.5rem;
	}

	.job-info {
		margin-bottom: 0.5rem;
	}
	.job-description-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
	}

	.name-and-labels {
		margin-left: 0;
	}

	.mobile {
		display: block;
		width: 100%;
		margin: 0.5rem auto;
		color: var(--DarkCyan);
	}
}
