/* CSS Reset */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}
/* ***************************************** */

/* Variables */

:root {
	--Primary: hsl(180, 29%, 50%);
	--Background: hsl(180, 52%, 96%);
	--FilterTabs: hsl(180, 31%, 95%);
	--DarkCyan: hsl(180, 8%, 52%);
	--VeryDarkCyan: hsl(180, 14%, 20%);
}

* {
	font-family: "Spartan", sans-serif;
}

body {
	background-color: var(--Background);
}

label {
	cursor: pointer;
}

.parent-element {
	position: relative;
}

/* Filter Tags Container */

.display-none {
	display: none;
}

.filter-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80vw;
	margin: auto;
	padding: 1.5rem 2rem 2rem 2rem;
	background-color: white;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 0.4rem;
}

.tags-container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.clear-filters {
	color: var(--DarkCyan);
	cursor: pointer;
	font-weight: 700;
	padding-left: 1rem;
	font-size: 1rem;
}

.clear-filters:hover {
	/* border-bottom: 0.15rem solid var(--DarkCyan); */
	text-decoration: underline;
}

@media (max-width: 600px) {
	.tags-container {
		display: flex;
		flex-wrap: wrap;
		font-weight: 500;
		font-size: 0.5rem;
	}

	.filter-container {
		display: flex;
		justify-content: space-between;
		width: 90vw;
		margin: auto;
		padding: 1rem 1.5rem 1.5rem 1.5rem;
	}
}
